@model IEnumerable<PosWebQLBH.ViewModels.Catalog.Products.ProductViewModel>
@{
    ViewData["Title"] = "POS Bán Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

<style>
    .shadow-ok {
        -webkit-box-shadow: 0px 2px 12px 2px rgba(218,255,212,0.6);
        -moz-box-shadow: 0px 2px 12px 2px rgba(218,255,212,0.6);
        box-shadow: 0px 2px 12px 2px rgba(218,255,212,0.6);
    }

    .scroll--item::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    .scroll--item::-webkit-scrollbar-thumb {
        background-color: green;
    }
</style>

<div class="container-fluid p-0" style="height: 100vh; min-width: 1000px">
    <!--bên trái: Bảng tính tiền-->
    <div class="float-left" style="width: 380px;height: 100vh;border-right: 2px solid #28a745">
        <!--logo và thông tin nhân viên-->
        <div style="width: 100%;height: 50px;background: #fff">
            <!--logo-->
            <p class="font-weight-bold text-success ml-2 float-left mb-0" style="font-size: 150%;line-height: 50px;">POS-Bán Hàng</p>
            <!--tt nhân viên-->
            @*<p class="float-right mb-0 mr-2" style="line-height: 50px;">@User.Identity.Name</p>*@
            <div style="clear: both;"></div>
        </div>
        <div style="width: 100%;height: 50px;background: #fff">
            @*<p class="float-left mb-0 mr-2" style="line-height: 50px;">Nhân viên :</p>*@
            <p class="float-left mb-0 mr-2" style="line-height: 50px;"> Nhân viên : &emsp; @User.Identity.Name</p>
            <form class="text-right" method="post" asp-controller="Account" asp-action="Logout">
                <button class="btn btn-outline-primary" type="submit">Đăng Xuất</button>
            </form>
        </div>

        <!--thông tin sản phẩm và thông tin tính tiền-->
        <div style="width: 100%;height: calc(100vh - 300px);background: #fff;">
            <div class="p-2 pt-2 scroll--item" style="height: calc(100vh - 250px);overflow-y: scroll;">
                <!--Js: show sản phẩm chọn mua để tính tiền-->
                <div id="ListItem">
                </div>

                <!--thông tin tính tiền : giảm giá , Tổng tiền , số tiền giảm-->
                <div class="shadow-ok p-2" style="width: 100%;border-radius:10px">
                    <p class="float-left mb-0">Giảm giá</p>
                    <p id="discount" class="float-right mb-0">0</p>
                    <div style="clear: both;"></div>
                    <p class="float-left mb-0">Fee</p>
                    <p class="float-right mb-0">0đ</p>
                    <div style="clear: both;"></div>
                    <p class="float-left mb-0 font-weight-bold">Tổng Tiền</p>
                    <p id="total" class="float-right mb-0 font-weight-bold">0</p>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <!--máy tính tiền-->
        <partial name="_calculator" />
    </div>

    <!--Bên phải: show sản phẩm và thành header-->
    <div class="float-right" style="width: calc(100% - 380px);height: 100vh;">
        <!--header: thanh tìm kiếm , thanh category-->
        <partial name="_header" />

        <!--Show sp-->
        <div class="p-2 pt-2 scroll--item" style="height: calc(100vh - 70px);overflow-y: scroll;">
            <!--show tất cả sp-->
            <div id="GetAll" class="row m-0 p-2">
                @foreach (var item in Model)
                {                   
                    <div onclick="addToCart(@item.ID , @item.Price)" class="col-2 p-2">
                        <div class="shadow-ok" style="width: 100%;height: 220px;background: #fff;border-radius:10px;">
                            <img src="@(Configuration["BaseAddress"] +"/user-content/" + item.ThumbnailImage)" width="100%" height="150px" style="border-top-left-radius:10px;border-top-right-radius:10px;">
                            <p class="font-weight-bold text-center mt-1 mb-0" style="font-size:95%">@item.Name_Product</p>
                            <p class="text-center">@(item.Price)đ</p>
                        </div>
                    </div>
                    
                }
            </div>

            <!--show sp theo loại-->
            <div id="GetAjax" class="row m-0 p-2">
                
            </div>
        </div>

        <script>
            function featchFoodItem() {
                var SetGetAjax = $("#GetAjax");
                SetGetAjax.html(`@foreach (var item in Model)
                {
                    if (item.ID_Category == "DA")
                    {
                    <div onclick="addToCart(@item.ID , @item.Price)" class="col-2 p-2">
                        <div class="shadow-ok" style="width: 100%;height: 220px;background: #fff;border-radius:10px;">
                            <img src="@(Configuration["BaseAddress"] + "/user-content/" + item.ThumbnailImage)" width="100%" height="150px" style="border-top-left-radius:10px;border-top-right-radius:10px;">
                            <p class="font-weight-bold text-center mt-1 mb-0" style="font-size:95%">@item.Name_Product</p>
                            <p class="text-center">@(item.Price)đ aa</p>
                        </div>
                    </div>
                    }
                }`);
                $(document).ready(function () {
                    $("#GetAll").hide();
                    $("#GetAjax").show();
                        //$.ajax({
                        //    type: "get",
                        //    dataType: "json",
                        //    url: "https://localhost:5001/api/products/GetFood",
                        //    contentType: "html",
                        //    success: function (data) {
                        //        //console.log(data);
                        //        $.each(data, function (index, value) {
                        //            var Data = `
                        //                        <div onclick="addToCart(` + value.ID + ` , ` + value.Price + `)" class="col-2 p-2">
                        //                            <div class="shadow-ok" style="width: 100%;height: 220px;background: #fff;border-radius:10px;">
                        //                                <img src="/image/`+ value.ThumbnailImage + `" width="100%" height="100px" style="border-top-left-radius:10px;border-top-right-radius:10px;">
                        //                                <p class="font-weight-bold text-center mt-1 mb-0" style="font-size:95%">`+ value.Name_Product + `</p>
                        //                                <p class="text-center">`+ value.Price + `đ</p>
                        //                            </div>
                        //                        </div>`;
                        //            SetGetAjax.append(Data);
                        //        }
                        //        )
                        //    }
                        //});
                    })
            }

            function featchDrinkItem() {
                var SetGetAjax = $("#GetAjax");
                SetGetAjax.html(`@foreach (var item in Model)
                {
                    if (item.ID_Category == "GK")
                    {
                    <div onclick="addToCart(@item.ID , @item.Price)" class="col-2 p-2">
                        <div class="shadow-ok" style="width: 100%;height: 220px;background: #fff;border-radius:10px;">
                            <img src="@(Configuration["BaseAddress"] + "/user-content/" + item.ThumbnailImage)" width="100%" height="150px" style="border-top-left-radius:10px;border-top-right-radius:10px;">
                            <p class="font-weight-bold text-center mt-1 mb-0" style="font-size:95%">@item.Name_Product</p>
                            <p class="text-center">@(item.Price)đ aa</p>
                        </div>
                    </div>
                    }
                }`);
                $(document).ready(function () {
                    $("#GetAll").hide();
                    $("#GetAjax").show();
                    //$.ajax({
                    //    type: "get",
                    //    dataType: "json",
                    //    url: "https://localhost:44358/api/Tbl_product/GetDrink",
                    //    contentType: "html",
                    //    success: function (data) {
                    //        //console.log(data);
                    //        $.each(data, function (index, value) {
                    //            var Data = `<div onclick="addToCart(` + value.ID + ` , ` + value.Price + `)" class="col-2 p-2">
                    //                                            <div class="shadow-ok" style="width: 100%;height: 220px;background: #fff;border-radius:10px;">
                    //                                                <img src="/image/`+ value.ThumbnailImage + `" width="100%" height="100px" style="border-top-left-radius:10px;border-top-right-radius:10px;">
                    //                                                <p class="font-weight-bold text-center mt-1 mb-0" style="font-size:95%">`+ value.Name_Product + `</p>
                    //                                                <p class="text-center">`+ value.Price + `đ</p>
                    //                                            </div>
                    //                                        </div>`;
                    //            SetGetAjax.append(Data);
                    //        }
                    //        )
                    //    }
                    //});
                })
            }

            function featchFood() {
                var SetGetAjax = $("#GetAjax");
                SetGetAjax.html(`@foreach (var item in Model)
                {
                    if (item.ID_Category == "DC")
                    {
                    <div onclick="addToCart(@item.ID , @item.Price)" class="col-2 p-2">
                        <div class="shadow-ok" style="width: 100%;height: 220px;background: #fff;border-radius:10px;">
                            <img src="@(Configuration["BaseAddress"] + "/user-content/" + item.ThumbnailImage)" width="100%" height="150px" style="border-top-left-radius:10px;border-top-right-radius:10px;">
                            <p class="font-weight-bold text-center mt-1 mb-0" style="font-size:95%">@item.Name_Product</p>
                            <p class="text-center">@(item.Price)đ aa</p>
                        </div>
                    </div>
                    }
                }`);
                $(document).ready(function () {
                    $("#GetAll").hide();
                    $("#GetAjax").show();
                })
             }

            function featchAllItem() {
                $("#GetAjax").hide();
                $("#GetAll").show();
            }
        </script>
    </div>
</div>

<script>
    //tìm kiếm
    $('#inputSearch').on('keyup', function () {
        var SetGetAjax = $("#GetAjax");
        SetGetAjax.html("");
        var inputSearch = $("#inputSearch").val();
        console.log(inputSearch);
        $(document).ready(function () {
            $("#GetAll").hide();
            $("#GetAjax").show();
            $.ajax({
                type: "post",
                dataType: "json",
                url: "https://localhost:44358/api/Tbl_product/SearchProduct",
                data: JSON.stringify({
                    name: "%" + inputSearch + "%",
                }),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                contentType: "html",
                success: function (data) {
                    //console.log(data);
                    $.each(data, function (index, value) {
                        var Data = `<div onclick="addToCart(` + value.id + ` , ` + value.price + `)" class="col-2 p-2">
                                <div class="shadow-ok" style="width: 100%;height: 160px;background: #fff;border-radius:10px;">
                                    <img src="/image/`+ value.image + `" width="100%" height="100px" style="border-top-left-radius:10px;border-top-right-radius:10px;">
                                    <p class="font-weight-bold text-center mt-1 mb-0" style="font-size:95%">`+ value.name + `</p>
                                    <p class="text-center">`+ value.price + `đ</p>
                                </div>
                            </div>`;
                        SetGetAjax.append(Data);
                    }
                    )
                }
            });
        })
    })

    //add sản phẩm vào tính tiền
    function addToCart(id, pricedf) {
        var check = -1;
        $(document).ready(function () {
            $.ajax({
                type: "get",
                dataType: "json",
                url: "https://localhost:44358/api/Tbl_order/GetOrder",
                contentType: "html",
                success: function (data) {
                    console.log(data);
                    $.each(data, function (index, value) {
                        console.log(value.idproduct);
                        console.log(id);
                        if (value.idproduct == id) {

                            check = 1;
                            return false;
                        } else {
                            check = 0;
                        }
                    });
                    var iditem = $("#iditem" + id).val();
                    var discount = $("#discount" + id).val();
                    var quanlity = $("#quanlity" + id).val();
                    var price = $("#price" + id).val();
                    var idproduct = $("#idproduct" + id).val();
                    var idorder = $("#idorder" + id).val();
                    //console.log("chon o" + check);
                    if (check == 1) {
                        var SetData = $("#ListItem");
                        SetData.html("");
                        $.ajax({
                            method: "post",
                            url: "https://localhost:44358/api/Tbl_item/UpdateQuanlity",
                            data: JSON.stringify({
                                id: parseInt(iditem),
                                discount: parseInt(discount),
                                quanlity: parseInt(1 * quanlity + 1),
                                price: parseInt(price * (1 * quanlity + 1) * ((100 - discount) / 100)),
                                idproduct: parseInt(idproduct),
                                idorder: parseInt(idorder)
                            }),
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            success: function (data) {
                                checkSelect = 0;
                                featchListItem();
                                number = '';
                            }
                        });
                    } else {
                        console.log("gia" + price);
                        var SetData = $("#ListItem");
                        SetData.html("");
                        $.ajax({
                            method: "post",
                            url: "https://localhost:44358/api/Tbl_item/Create",
                            data: JSON.stringify({
                                idproduct: id,
                                discount: 0,
                                quanlity: 1,
                                price: pricedf
                            }),
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            success: function (data) {
                                featchListItem();
                            }
                        });
                    }
                }
            });
        });
    }

    //xóa sp khỏi cart
    function deleteItem(id) {
        var SetData = $("#ListItem");
        SetData.html("");
        idItemMax = 0;
        $.ajax({
            method: "post",
            url: "https://localhost:44358/api/Tbl_item/Delete",
            data: JSON.stringify({
                id: id
            }),
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            success: function (data) {
                checkSelect = 0;
                featchListItem();
            }
        });
    }
</script>
<style>
    .idItemBoxBackground {
        background: #ceffd9 !important;
    }
</style>
<script>
    var idItemMax = 0;
    var checkSelect = 0;
    function actionItemMax() {
        $("#idItemBox" + idItemMax).addClass("idItemBoxBackground");
        console.log("ok" + idItemMax);
    }

    var idItemNow = -1;
    var idDiscountNow = -1;
    var idQuanlityNow = -1;
    var idPriceNow = -1;
    var idProductNow = -1;
    var idOrderNow = -1;
    featchListItem();
    function featchListItem() {
        var total = 0;
        var discount = 0;
        $(document).ready(function () {
            var SetData = $("#ListItem");
            SetData.html("");
            $.ajax({
                type: "get",
                dataType: "json",
                url: "https://localhost:44358/api/Tbl_order/GetOrder",
                contentType: "html",
                success: function (data) {
                    //console.log(data);
                    $.each(data, function (index, value) {
                        total += parseInt(value.priceItem * ((100 - value.discount) / 100));
                        discount += parseInt(value.priceItem * value.discount / 100);
                        if (checkSelect == 0) {
                            idItemMax = value.iditem;
                            idItemNow = value.iditem;
                            idDiscountNow = value.discount;
                            idQuanlityNow = value.quanlity;
                            idPriceNow = value.price;
                            idProductNow = value.idproduct;
                            idOrderNow = value.idorder;
                        }

                        var Data = `
                <div onclick="selectItem(` + value.iditem + `,` + value.discount + `,` + value.quanlity + `,` + value.idproduct + `,` + value.idorder + `,` + value.price + `)" id="idItemBox` + value.iditem + `" class="shadow-ok mb-2 item--box" style="width: 100%; border-radius: 10px">
                <div class="float-left" style="height: 55px;width: 60px;">
                    <img src="/image/` + value.image + `" width="100%" height="100%" style="border-top-left-radius: 10px;border-bottom-left-radius: 10px">
                </div>
                <div class="float-left p-1 pt-0" style="height: 50px;width: calc(100% - 170px);">
                    <p class="font-weight-bold mb-0 cl ml-1" style="font-size: 90%">` + value.name + `</p>
                    <p class="cl mb-0 ml-1 float-left" style="font-size: 90%">Số lượng: ` + value.quanlity + `- Discount:  </p><p class="float-left" id="discountText` + value.iditem + `" style="font-size: 90%">` + value.discount + `%</p>
                </div>
                   <div onclick="deleteItem(` + value.iditem + `)" class="float-right p-1 bg-success text-center" style="width: 30px;height: 55px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;">
                        <i class="fa fa-trash text-white " aria-hidden="true" style="line-height: 46px;"></i>
                    </div>
                <div class="float-right p-1" style="width: 80px;height: 50px;">
                    <p class="font-weight-bold float-right cl" style="font-size: 90%">` + value.priceItem + `đ</p>
                </div>
                <div style="clear: both;"></div>
                <input style="display:none" id="iditem`+ value.idproduct + `" value="` + value.iditem + `" />
                <input style="display:none" id="discount`+ value.idproduct + `" value="` + value.discount + `" />
                <input style="display:none" id="quanlity`+ value.idproduct + `" value="` + value.quanlity + `" />
                <input style="display:none" id="price`+ value.idproduct + `" value="` + value.price + `" />
                <input style="display:none" id="idproduct`+ value.idproduct + `" value="` + value.idproduct + `" />
                <input style="display:none" id="idorder`+ value.idproduct + `" value="` + value.idorder + `" />
            </div>`;
                        SetData.append(Data);

                    });
                    $("#total").text(total);
                    $("#discount").text(discount);
                    totalOrder = total;
                    discountOrder = discount;
                    actionItemMax();
                }

            });
        });
    }

    function selectItem(iditem, discount, quanlity, idproduct, idorder, price) {

        //var btns = document.getElementsByClassName("item--box");
        //for (var i = 0; i < btns.length; i++) {
        //    $("item--box").removeClass("idItemBoxBackground");
        //}
        checkSelect = 1;

        number = '';
        idItemMax = iditem;
        idDiscountNow = discount;
        idQuanlityNow = quanlity;
        idPriceNow = price;
        idProductNow = idproduct;
        idOrderNow = idorder;
        console.log(iditem, idDiscountNow, idQuanlityNow, idProductNow, idOrderNow)
        //$("#idItemBox" + idItemMax).removeClass("idItemBoxBackground");
        $("#idItemBox" + iditem).addClass("idItemBoxBackground");
    }
</script>