@model PosWebQLBH.ViewModels.Catalog.Products.ProductViewModel

@{
    ViewData["Title"] = "Chi Tiết Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

<div class="container-fluid px-4">
    <h1 class="mt-4">Chi Tiết Sản Phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết SP</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách SP</a>
        </div>

        <div class="card-body">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ID)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ID)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ID_Category)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ID_Category)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Name_Category)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name_Category)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Name_Product)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name_Product)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ID_Unit)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ID_Unit)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Name_Unit)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name_Unit)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Length)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Length)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Width)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Width)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Height)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Height)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Weight)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Weight)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.CreatedBy)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.UpdatedBy)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.UpdatedBy)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.UpdatedDate)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.UpdatedDate)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ThumbnailImage)
                    </dt>
                    <dt />
                    <dd class="col-sm-9">
                        @*@Html.DisplayFor(model => model.ThumbnailImage)*@
                        <img width="300" height="300" src="@(Configuration["BaseAddress"] + Model.ThumbnailImage)" />

                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>