@model PosWebQLBH.ViewModels.Partner.Suppliers.SupplierDeleteRequest

@{
    ViewData["Title"] = "Xóa nhà cung cấp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Xóa nhà cung cấp</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
        <li class="breadcrumb-item active">Xóa nhà cung cấp</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Supplier">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-14">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ID_Supplier) :
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ID_Supplier)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Name_Supplier) :
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name_Supplier)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Address) :
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Representative) :
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Representative)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Phone_Number) :
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Phone_Number)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input asp-for="ID_Supplier" type="hidden" />
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>