@using PosWebQLBH.ViewModels.Common;
@model PagedResult<PosWebQLBH.ViewModels.System.Users.UserVm>

@{
    ViewData["Title"] = "Danh Sách Người Dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 3000);

    </script>
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh Sách Người Dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
        <li class="breadcrumb-item active">Danh sách User</li>
    </ol>

    <div class="card mb-4">      
        <div class="card-header">
            <a class="btn btn-success" asp-action="Create" asp-controller="User">Tạo mới</a>
            <!--Tìm kiếm theo keyword ( nhưng mà nhìn nó phèn hơn JS )-->
            @*<form asp-action="Index" method="get">
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                        </div>
                        <div class="cold-md-3">
                            <button type="submit" class="btn btn-primary">Tìm</button>
                            <button type="button" onclick="window.location.href='/User/Index'" class="btn btn-dark">Reset</button>
                        </div>
                    </div>
                </form>*@
        </div>

        <div class="card-body">
            <!--alert thông báo-->
            @if (ViewBag.SuccessMess != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMess
                </div>
            }

            <!-- id="datatablesSimple" -->
            <table class="table table-bordered" id="datatablesSimple">
                <thead>
                    <tr>
                        <th>
                            Tài khoản( ID nhân viên )  <!-- user name -->
                        </th>
                        <th>
                            Tên
                        </th>
                        <th>
                            Họ
                        </th>
                        <th>
                            Ngày Sinh
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Option
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Birthday)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @await Component.InvokeAsync("Pager", Model) <!--Phân trang-->
        </div>
    </div>
</div>