@model PosWebQLBH.ViewModels.Partner.Customers.CustomerVm
@{
    ViewData["Title"] = "Chi Tiết đơn vị tính";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Chi Tiết Khách Hàng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết Customer</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Customer">Về danh sách Customer</a>
            <a style="margin-left: 220px"> @Html.ActionLink("Sửa", "Edit", new { customerId = Model.ID }) </a>
        </div>
            
        <div class="card-body">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ID)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ID)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name_Customer)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name_Customer)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phone_Number)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Phone_Number)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>