@using PosWebQLBH.ViewModels.Common;
@model PagedResult<PosWebQLBH.ViewModels.Partner.Customers.CustomerVm>

@{
    ViewData["Title"] = "Danh Sách Khách Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 3000);
    </script>
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh Sách Khách Hàng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
        <li class="breadcrumb-item active">Danh sách Customer</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Create" asp-controller="Customer">Tạo mới</a>
            <!--Tìm kiếm theo keyword ( nhưng mà nhìn nó phèn hơn JS )-->
            @*<form asp-action="Index" method="get">
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                        </div>
                        <div class="cold-md-3">
                            <button type="submit" class="btn btn-primary">Tìm</button>
                            <button type="button" onclick="window.location.href='/Product/Index'" class="btn btn-dark">Reset</button>
                        </div>
                    </div>
                </form>*@
        </div>

        <div class="card-body">
            <!--alert thông báo-->
            @if (ViewBag.SuccessMess != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMess
                </div>
            }

            <!-- id="datatablesSimple" -->
            <table class="table table-bordered" id="datatablesSimple">
                <thead>
                    <tr>
                        <th>
                            Option
                        </th>
                        <th>
                            Mã khách hàng
                        </th>
                        <th>
                            Tên khách hàng
                        </th>
                        <th>
                            Địa Chỉ
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Tạo bởi
                        </th>
                        <th>
                            Ngày tạo
                        </th>
                        <th>
                            Cập nhật bởi
                        </th>
                        <th>
                            Ngày cập nhật
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                    <tr>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { customerId = item.ID }) |
                            @Html.ActionLink("Chi Tiết", "Details", new { customerId = item.ID }) |
                            @Html.ActionLink("Xóa", "Delete", new { customerId = item.ID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name_Customer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone_Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedDate)
                        </td>
                        
                        
                    </tr>
                    }
                </tbody>
            </table>

            @await Component.InvokeAsync("Pager", Model) <!--Phân trang-->
        </div>
    </div>
</div>