@using PosWebQLBH.ViewModels.Common;
@model PagedResult<PosWebQLBH.ViewModels.Partner.Customers.CustomerVm>
@{
    ViewData["Title"] = "Trang chủ";
}
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/chart-area-demo.js"></script>
    <script src="/assets/demo/chart-bar-demo.js"></script>

}

<div class="container-fluid px-4">
    <h1 class="mt-4">Bảng Thống Kê</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">SẢN PHẨM</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="Product" asp-action="Index">Xem chi tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">KHÁCH HÀNG</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="Customer" asp-action="Index">Xem chi tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">NHẬP KHO</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="Product" asp-action="UpdateStock">Nhấn để nhập</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">NGƯỜI DÙNG</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="User" asp-action="Index">Xem chi tiết</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Top Sản Phẩm
                </div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Biểu Đồ Bán Hàng
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DANH SÁCH KHÁCH HÀNG
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        @*<th>
                            Option
                        </th>*@
                        <th>
                            Mã khách hàng
                        </th>
                        <th>
                            Tên khách hàng
                        </th>
                        <th>
                            Địa Chỉ
                        </th>
                        <th>
                            Số điện thoại
                        </th>
                        <th>
                            Tạo bởi
                        </th>
                        <th>
                            Ngày tạo
                        </th>                       
                    </tr>
                </thead>
                
                <tbody>                   
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            @*<td>
                                @Html.ActionLink("Sửa", "Edit", new { customerId = item.ID }) |
                                @Html.ActionLink("Chi Tiết", "Details", new { customerId = item.ID }) |
                                @Html.ActionLink("Xóa", "Delete", new { customerId = item.ID })
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name_Customer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone_Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                           
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>